<fieldset>
                    <legend>Getting Away</legend>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="departureairline-away">Airline</label>
                          <input name="airline" type="text" class="form-control" id="departureairline-away" placeholder="Ex: United">
                        </p>

                        <p class="col-md-6">
                          <label for="flightnumber-away">Flight #</label>
                          <input name="flight_number" type="text" class="form-control" id="flightnumber-away" placeholder="Ex: 1234">
                        </p>
                      </div>

<!--                       <div class="row">
                        <p class="col-md-6">
                          <label for="departureairport-away">Departure Airport</label>
                          <input type="text" class="form-control" id="departureairport-away" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="departuredatetime-away">Date & Time</label>
                          <input type="datetime-local" class="form-control" id="departuredatetime-away">
                        </p>
                      </div>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="arrivalairport-away">Arrival Airport</label>
                          <input type="text" class="form-control" id="arrivalairport-away" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="arrivaldatetime-away">Date & Time</label>
                          <input type="datetime-local" class="form-control" id="arrivaldatetime-away">
                        </p>
                      </div>

                      <br>
                      <legend>Getting Home</legend>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="departureairline-home">Airline</label>
                          <input type="text" class="form-control" id="departureairline-home" placeholder="Ex: United">
                        </p>

                        <p class="col-md-6">
                          <label for="flightnumber-home">Flight #</label>
                          <input type="text" class="form-control" id="flightnumber-home" placeholder="Ex: 1234">
                        </p>
                      </div>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="departureairport-home">Departure Airport</label>
                          <input type="text" class="form-control" id="departureairport-home" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="departuredatetime-home">Date & Time</label>
                          <input type="datetime-local" class="form-control" id="departuredatetime-home">
                        </p>
                      </div>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="arrivalairport-home">Arrival Airport</label>
                          <input type="text" class="form-control" id="arrivalairport-home" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="arrivaldatetime-home">Date & Time</label>
                          <input type="datetime-local" class="form-control" id="arrivaldatetime-home">
                        </p>
                      </div>
 -->
                      <button  type="submit" class="btn btn-primary">Submit</button>
                      <!-- <p><a class="btn btn-lg btn-primary" href="/flights" role="button">SUBMIT MY FLIGHT &raquo;</a></p> -->

              </fieldset>
