<fieldset>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="departureairline-away">Airline</label>
                          <input name="airline" type="text" class="form-control" id="departureairline-away" placeholder="Ex: United">
                        </p>

                        <p class="col-md-6">
                          <label for="flightnumber-away">Flight #</label>
                          <input name="flight_number" type="text" class="form-control" id="flightnumber-away" placeholder="Ex: 1234">
                        </p>
                      </div>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="departureairport-away">Departure Airport</label>
                          <input name="depart_location" type="text" class="form-control" id="departureairport-away" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="departuredatetime-away">Date & Time</label>
                          <input name="depart_time" type="datetime-local" class="form-control" id="departuredatetime-away">
                        </p>
                      </div>

                      <div class="row">
                        <p class="col-md-6">
                          <label for="arrivalairport-away">Arrival Airport</label>
                          <input name="arrive_location" type="text" class="form-control" id="arrivalairport-away" placeholder="Airport Code">
                        </p>

                        <p class="col-md-6">
                          <label for="arrivaldatetime-away">Date & Time</label>
                          <input name="arrive_time" type="datetime-local" class="form-control" id="arrivaldatetime-away">
                        </p>
                      </div>

                      <button  type="submit" class="btn btn-primary">Submit</button>
                      <a href="/flights" class="btn btn-default">Cancel</a>

              </fieldset>
