    <div class="container">

      <div class="page-header">
        <h2>My Flights</h2>
      </div>

      <form action="/flights/create">
          <div class="row">
            <div class="col-lg-12">
              <div class="well">
                <form class="form-horizontal">

                  <% if @trip_list.first.present? %>
                    <div class="row">
                      <p class="col-md-12">
                        <label>Please tell us which trip this is for:</label>
                        <select class="form-control" name="trip_name">
                          <% Trip.all.each do |trip| %>
                            <option name="trip_name" placeholder="Select One of your Trips" ><%= trip.trip_name %></option>
                          <% end %>
                        </select>
                      </p>
                    </div>

                    <%= render "enter_details_form"%>

                  <% else %>
                    <div class="row">
                      <p class="col-md-2">
                        <a href="/trips/new" class="btn btn-warning">Enter New Trip</a>
                      </p>

                      <p class="col-md-10">
                        <a href="/" class="btn btn-warning">Home</a>
                      </p>
                    </div>
                  <% end %>

              </form>
            </div>
          </div>
        </div>

    </div> <!-- /container -->

  </body>
</html>
