<div class="col-md-4">
  <form class="form-signin" role="form" action="/authenticate">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="email_acct" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input name="pwd"type="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>

  </form>
</div>
