 <div class="container">

      <div class="page-header">
        <h2>Wonjun's Bachelor Party</h2>
        <h4>4/3/2014 ~ 4/5/2014</h4>
      </div>
    <div class="row container">
      <h2> Expenses
      <a href="/newexpense" class="btn btn-warning pull-right">Enter New Expense</a>
      </h2>
    </div>

      <div class="row table-responsive container">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Who Paid</th>
              <th>You Owe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Airbnb</td>
              <td>450.00</td>
              <td>Eric Lee</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Groceries</td>
              <td>$150.00</td>
              <td>Jon Finch</td>
              <td>$30.00</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Rental Car</td>
              <td>$100.00</td>
              <td>Wonjun Lee</td>
              <td>$50.00</td>
            </tr>
          </thead>
        </table>
        <p>
          <h4 align="right" class="col-md-12">Total Amount Due $80.00</h4>
        </p>
      </div>
    </div>
